<div xmlns:th="https://www.thymeleaf.org">
    <div th:fragment="calendar (type)" id="calendar" class="row justify-content-between p-2"
         th:classappend="'js-' + ${type}">
        <div class="col">
            <div id="YearContainer" class="row justify-content-center">
                <div class="col text-center">
                    <h1 th:text="${calendarInfo.currentYear}"></h1>
                </div>
            </div>
            <div id="MonthsContainer" class="row justify-content-center">
                <div class="col text-center">
                    <h2 class="calendars-month" th:text="${calendarInfo.currentMonth.name}"></h2>
                </div>
                <div class="w-100 d-block d-md-none"></div>
                <div class="col text-center order-md-first">
                    <th:block th:switch="${type}">
                        <div th:case="'my-calendar'">
                            <a th:href="'/' + ${type} + '/' + ${calendarInfo.prevMonth.number} + '/' + ${calendarInfo.prevYear}">
                                <button class="btn btn-secondary" th:text="${calendarInfo.prevMonth.name}"></button>
                            </a>
                        </div>
                        <div th:case="'users-calendars'">
                            <a th:href="'/' + ${type} + '/' + ${calendarInfo.prevMonth.number} + '/' + ${calendarInfo.prevYear} + '?email=' + ${selectedEmail}">
                                <button class="btn btn-secondary" th:text="${calendarInfo.prevMonth.name}"></button>
                            </a>
                        </div>
                        <div th:case="'projects'">
                            <a th:href="'/' + ${type} + '/' + ${calendarInfo.prevMonth.number} + '/' + ${calendarInfo.prevYear} + '?project=' + ${projectName}">
                                <button class="btn btn-secondary" th:text="${calendarInfo.prevMonth.name}"></button>
                            </a>
                        </div>
                        <div th:case="'rooms'">
                            <a th:href="'/' + ${type} + '/' + ${calendarInfo.prevMonth.number} + '/' + ${calendarInfo.prevYear} + '?room=' + ${selectedRoom}">
                                <button class="btn btn-secondary" th:text="${calendarInfo.prevMonth.name}"></button>
                            </a>
                        </div>
                    </th:block>

                </div>
                <div class="col text-center order-md-last">
                    <th:block th:switch="${type}">
                        <div th:case="'my-calendar'">
                            <a th:href="'/' + ${type} + '/' + ${calendarInfo.nextMonth.number} + '/' + ${calendarInfo.nextYear}">
                                <button class="btn btn-secondary" th:text="${calendarInfo.nextMonth.name}"></button>
                            </a>
                        </div>
                        <div th:case="'users-calendars'">
                            <a th:href="'/' + ${type} + '/' + ${calendarInfo.nextMonth.number} + '/' + ${calendarInfo.nextYear} + '?email=' + ${selectedEmail}">
                                <button class="btn btn-secondary" th:text="${calendarInfo.nextMonth.name}"></button>
                            </a>
                        </div>
                        <div th:case="'projects'">
                            <a th:href="'/' + ${type} + '/' + ${calendarInfo.nextMonth.number} + '/' + ${calendarInfo.nextYear} + '?project=' + ${projectName}">
                                <button class="btn btn-secondary" th:text="${calendarInfo.nextMonth.name}"></button>
                            </a>
                        </div>
                        <div th:case="'rooms'">
                            <a th:href="'/' + ${type} + '/' + ${calendarInfo.nextMonth.number} + '/' + ${calendarInfo.nextYear} + '?room=' + ${selectedRoom}">
                                <button class="btn btn-secondary" th:text="${calendarInfo.nextMonth.name}"></button>
                            </a>
                        </div>
                    </th:block>

                </div>
            </div>
            <div id="DaysContainer" class="row justify-content-center mt-4">
                <div class="col text-center d-none d-md-block">
                    <h4 class="calendars-day">Monday</h4>
                </div>
                <div class="col text-center d-none d-md-block">
                    <h4 class="calendars-day">Tuesday</h4>
                </div>
                <div class="col text-center d-none d-md-block">
                    <h4 class="calendars-day">Wednesday</h4>
                </div>
                <div class="col text-center d-none d-md-block">
                    <h4 class="calendars-day">Thursday</h4>
                </div>
                <div class="col text-center d-none d-md-block">
                    <h4 class="calendars-day">Friday</h4>
                </div>
                <div class="col text-center d-none d-md-block">
                    <h4 class="calendars-day">Saturday</h4>
                </div>
                <div class="col text-center d-none d-md-block">
                    <h4 class="calendars-day">Sunday</h4>
                </div>
            </div>
            <div id="EventsContainer" class="row no-gutters">
                <th:block th:if="${calendarInfo.startEmptyDays} > 0"
                          th:each="i: ${#numbers.sequence(0, calendarInfo.startEmptyDays - 1)}">
                    <div class="col border d-none d-md-block"></div>
                </th:block>
                <th:block th:each="day : ${calendarInfo.days}">
                    <div class="col border border-secondary day-calendars"
                         th:classappend="'day-calendars-' + ${type} + ' ' + 'js-' + ${type} + '-day'"
                         th:attr="data-year=${calendarInfo.currentYear}, data-month=${calendarInfo.currentMonth.number}, data-day=${day.number}, data-room=${selectedRoom != null ? selectedRoom : 'undefined'}">
                        <div class="row">
                            <div class="col-12" th:text="${day.number}"></div>
                        </div>
                        <th:block th:each="event : ${day.events}">
                            <div class="row no-gutters event-calendars"
                                 th:classappend="'event-calendars-' + ${type} + ' ' +
                                                    'js-' + ${type} + '-event' + ' ' +
                                                    ${event.room != null ? 'event-calendars-room-event event-calendars-room-event-' + type : ''} + ' ' +
                                                    ${type == 'rooms' && event.user.id == loggedUserId ?  type + '-clickable' : ''}"
                                 th:attr="data-type=${event.type.type}, data-label=${event.label}, data-owner=${event.user.firstName} + ' ' + ${event.user.lastName},
                                            data-year=${calendarInfo.currentYear}, data-month=${calendarInfo.currentMonth.number}, data-day=${day.number},
                                            data-start=${event.startDate.hour} + ':' + ${event.startDate.minute},
                                            data-end=${event.endDate.hour} + ':' + ${event.endDate.minute},
                                            data-id=${event.id},
                                            data-room=${event.room != null ? event.room.name : 'undefined'}">
                                <div class="col text-center">
                                    <span class="event-label" th:text="${event.type.type + ': ' + event.label}"></span>
                                </div>
                                <div class="w-100"></div>
                                <div class="col text-center">
                                    <span class="event-label"
                                          th:text="${event.startDate.hour} + ':' + ${event.startDate.minute < 10 ? '0' : ''} + ${event.startDate.minute} + ' - ' + ${event.endDate.hour} + ':' + ${event.endDate.minute < 10 ? '0' : ''} + ${event.endDate.minute}"></span>
                                    <span th:if="${type == 'projects' || type == 'rooms'}" class="event-label"
                                          th:text="${event.user.firstName} + ' ' + ${event.user.lastName}"></span>

                                </div>
                                <div class="w-100"></div>
                                <div th:if="${event.room != null && type != 'rooms'}" class="col text-center">
                                    <span class="event-label"
                                          th:text="${'Room: ' + event.room.name + '(' + event.room.number + ')'}"></span>

                                </div>
                            </div>
                        </th:block>
                    </div>
                    <div th:if="${day.numberOfWeekDay} == 7" class="w-100"></div>
                    <div th:if="${day.numberOfWeekDay} != 7" class="w-100 d-block d-md-none"></div>
                </th:block>
                <th:block th:if="${calendarInfo.endEmptyDays} > 0"
                          th:each="i: ${#numbers.sequence(0, calendarInfo.endEmptyDays - 1)}">
                    <div class="col border d-none d-md-block"></div>
                </th:block>
            </div>
        </div>
        <div th:if="${type} == 'my-calendar' || ${type} == 'rooms'"
             th:replace="/modals/edit-event-modal :: edit-event-modal(type=${type})"></div>
        <div th:if="${type} == 'my-calendar' || ${type} == 'rooms'"
             th:replace="/modals/add-event-modal :: add-event-modal(type=${type})"></div>
    </div>
</div>
