<div xmlns:th="https://www.thymeleaf.org">
    <div th:fragment="header" id="header" class="row justify-content-between p-2">
        <div class="col">
            <div class="row">
                <div class="col-12 col-lg-10 text-left">
                    <a href="/">
                        <button class="btn btn-calendars-secondary btn-calendars-header m-2">Account</button>
                    </a>
                    <a href="/my-calendar">
                        <button class="btn btn-calendars-secondary btn-calendars-header m-2">My Calendar</button>
                    </a>
                    <a href="/users-calendars">
                        <button class="btn btn-calendars-secondary btn-calendars-header m-2">Users Calendars</button>
                    </a>
                    <a href="/projects">
                        <button class="btn btn-calendars-secondary btn-calendars-header m-2">Projects</button>
                    </a>
                    <a href="/rooms">
                        <button class="btn btn-calendars-secondary btn-calendars-header m-2">Rooms</button>
                    </a>
                    <div th:if="${userData.role} != 'USER'" class="w-100"></div>
                    <a th:if="${userData.role} != 'USER'" href="/register">
                        <button class="btn btn-calendars-primary btn-calendars-header m-2">Register</button>
                    </a>
                    <a th:if="${userData.role} != 'USER'" href="/register/users">
                        <button class="btn btn-calendars-primary btn-calendars-header m-2">Users</button>
                    </a>
                    <a th:if="${userData.role} != 'USER'" href="/admin-projects">
                        <button class="btn btn-calendars-primary btn-calendars-header m-2">Projects</button>
                    </a>
                    <a th:if="${userData.role} != 'USER'" href="/admin-rooms">
                        <button class="btn btn-calendars-primary btn-calendars-header m-2">Rooms</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-4 text-right">
            <a href="/logout">
                <button class="btn btn-calendars-primary">Log Out</button>
            </a>
        </div>
    </div>
</div>