<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="/common/head :: headerContent">
    <meta charset="UTF-8">
    <title id="pageTitle">Calendars-Rooms</title>
</head>
<body>
<div class="container-fluid">
    <div th:replace="/common/header :: header"></div>
    <div id="js-admin-rooms" class="row justify-content-center mt-2">
        <div class="col-7 d-none d-md-block">
            <table class="table table-striped table-bordered">
                <tbody>
                <tr th:each="room : ${rooms}">
                    <th class="text-center">
                        <h5 th:text="${room.name}"></h5>
                    </th>
                    <th class="text-center">
                        <h5 th:text="${room.number}"></h5>
                    </th>
                    <th class="text-center">
                        <button class="btn btn-calendars-primary js-edit-room" th:attr="data-name=${room.name}, data-number=${room.number}">Edit</button>
                        <button class="btn btn-calendars-primary js-remove-room" th:attr="data-name=${room.name}">Remove</button>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 d-block d-md-none">
            <table class="table table-striped table-bordered">
                <tbody>
                <tr th:each="room : ${rooms}">
                    <th class="text-center">
                        <h6 th:text="${room.name}"></h6>
                        <h6 th:text="${room.number}"></h6>
                        <button class="btn btn-calendars-primary js-edit-room" th:attr="data-name=${room.name}, data-number=${room.number}">Edit</button>
                        <button class="btn btn-calendars-primary js-remove-room" th:attr="data-name=${room.name}">Remove</button>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <button class="btn btn-calendars-secondary" data-toggle="modal" data-target="#addRoomModal">Add New
                Room
            </button>
        </div>
    </div>
</div>
<div th:replace="/modals/add-room-modal :: add-room-modal"></div>
<div th:replace="/modals/edit-room-modal :: edit-room-modal"></div>
<div th:replace="/modals/remove-room-modal :: remove-room-modal"></div>
</body>
</html>