<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="/common/head :: headerContent">
    <meta charset="UTF-8">
    <title id="pageTitle">Calendars-AdminUsers</title>
</head>
<body>
<div class="container-fluid">
    <div th:replace="/common/header :: header"></div>
    <div id="js-admin-users" class="row justify-content-center mt-2">
        <div class="col-8 d-none d-md-block">
            <table class="table table-striped table-bordered">
                <tbody>
                <tr th:each="user : ${users}">
                    <th class="text-center">
                        <h5 th:text="${user.firstName}"></h5>
                        <h5 th:text="${user.lastName}"></h5>
                    </th>
                    <th class="text-center">
                        <h5 th:text="${user.email}"></h5>
                    </th>
                    <th class="text-center">
                        <button class="btn btn-calendars-primary js-edit-user" th:attr="data-first=${user.firstName}, data-last=${user.lastName}, data-login=${user.login}, data-job=${user.jobPosition}, data-email=${user.email}, data-role=${user.role.name}">Edit</button>
                        <button class="btn btn-calendars-primary js-change-password" th:attr="data-email=${user.email}">Change Pass</button>
                        <button class="btn btn-calendars-primary js-remove-user" th:attr="data-email=${user.email}">Remove</button>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 d-block d-md-none">
            <table class="table table-striped table-bordered">
                <tbody>
                <tr th:each="user : ${users}">
                    <th class="text-center">
                        <h6 th:text="${user.firstName}"></h6>
                        <h6 th:text="${user.lastName}"></h6>
                        <h6 th:text="${user.email}"></h6>
                        <button class="btn btn-calendars-primary js-edit-user" th:attr="data-first=${user.firstName}, data-last=${user.lastName}, data-login=${user.login}, data-job=${user.jobPosition}, data-email=${user.email}, data-role=${user.role.name}">Edit</button>
                        <button class="btn btn-calendars-primary js-change-password" th:attr="data-email=${user.email}">Change Pass</button>
                        <button class="btn btn-calendars-primary js-remove-user" th:attr="data-email=${user.email}">Remove</button>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="/modals/edit-password-modal :: edit-password-modal"></div>
<div th:replace="/modals/edit-user-modal :: edit-user-data-modal"></div>
<div th:replace="/modals/remove-user-modal :: remove-user-modal"></div>
</body>
</html>