<div xmlns:th="https://www.thymeleaf.org" th:fragment="add-event-modal (type)" id="addEventModal"
     class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Event</h4>
                <h4 id="addEventDate" class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="eventTypeSelect-new">Event Type</label>
                            <select id="eventTypeSelect-new" class="form-control input-calendars">
                                <option th:each="eventType : ${eventTypes}" th:value="${eventType}" th:text="${eventType}"></option>
                            </select>
                        </div>
                        <div th:if="${type != 'rooms'}" class="form-group">
                            <label for="roomSelect-new">Room</label>
                            <select id="roomSelect-new" class="form-control input-calendars">
                                <option value="undefined">not related</option>
                                <option th:each="room : ${rooms}" th:value="${room.name}" th:text="${room.name + '(' + room.number + ')'}"></option>
                            </select>
                        </div>
                        <div th:if="${type == 'rooms'}" class="form-group">
                            <label>Room</label>
                            <h5 th:text="${selectedRoom}"></h5>
                        </div>
                        <div class="form-group">
                            <label for="eventLabelInput-new">Event Label</label>
                            <input type="text" id="eventLabelInput-new" class="form-control m-1"/>
                        </div>
                        <div class="form-group">
                            <label for="eventStartHourInput-new">Event Start Hour</label>
                            <input type="number" id="eventStartHourInput-new" min="0" max="23" step="1"/>
                            <input type="number" id="eventStartMinuteInput-new" min="0" max="59" step="1"/>
                        </div>
                        <div class="form-group">
                            <label for="eventEndHourInput-new">Event End Hour</label>
                            <input type="number" id="eventEndHourInput-new" min="0" max="23" step="1"/>
                            <input type="number" id="eventEndMinuteInput-new" min="0" max="59" step="1"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div id="eventNewMessage" class="alert"></div>
                <button id="saveEventAddModalButton" class="btn btn-calendars-primary" type="button">Save</button>
                <button type="button" class="btn btn-calendars-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

