<div xmlns:th="https://www.thymeleaf.org" th:fragment="add-user-project-modal" id="addUserProjectModal"
     class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add User To </h4>
                <h4 th:text="${project}"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <select id="userSelectProject" class="form-control input-calendars">
                            <option th:each="user : ${allUsers}" th:value="${user.email}" th:selected="${user.email == selectedEmail}" th:text="${user.name} + '<' + ${user.email} + '>'"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div id="addUserProjectMessage" class="alert"></div>
                <button id="addUserProjectModalButton" class="btn btn-calendars-primary" type="button" th:attr="data-project=${project}">Add</button>
                <button type="button" class="btn btn-calendars-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

