<div xmlns:th="https://www.thymeleaf.org" th:fragment="edit-user-data-modal" id="editUserDataModal"
     class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Room</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <input type="text" id="firstNameEditInput" class="form-control input-calendars my-1"
                               name="first-name" placeholder="First Name"/>
                        <input type="text" id="lastNameEditInput" class="form-control input-calendars my-1"
                               name="last-name" placeholder="Last Name"/>
                        <input type="text" id="loginEditInput" class="form-control input-calendars3 my-1" name="login"
                               placeholder="Login"/>
                        <input type="text" id="jobPositionEditInput" class="form-control input-calendars my-1"
                               name="job-position" placeholder="Job Position"/>
                        <input type="email" id="emailEditInput" class="form-control input-calendars my-1" name="email"
                               placeholder="Email"/>
                        <select id="roleEditSelect" class="form-control input-calendars my-1" name="role"
                                placeholder="Job Position">
                            <option th:each="userRole : ${userRoles}" th:value="${userRole}"
                                    th:text="${userRole}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div id="editedUserDataMessage" class="alert"></div>
                <button id="saveUserDataModalButton" class="btn btn-calendars-primary" type="button">Save</button>
                <button type="button" class="btn btn-calendars-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>
