<div xmlns:th="https://www.thymeleaf.org" th:fragment="edit-event-modal (type)" id="editEventModal"
     class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Event</h4>
                <h4 id="editEventDate" class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="eventTypeSelect-edit">Event Type</label>
                            <select id="eventTypeSelect-edit" class="form-control input-calendars">
                                <option th:each="eventType : ${eventTypes}" th:value="${eventType}" th:text="${eventType}"></option>
                            </select>
                        </div>
                        <div th:if="${type != 'rooms'}" class="form-group">
                            <label for="roomSelect-edit">Room</label>
                            <select id="roomSelect-edit" class="form-control input-calendars">
                                <option value="undefined">not related</option>
                                <option th:each="room : ${rooms}" th:value="${room.name}" th:text="${room.name + '(' + room.number + ')'}"></option>
                            </select>
                        </div>
                        <div th:if="${type == 'rooms'}" class="form-group">
                            <label>Room</label>
                            <h5 th:text="${selectedRoom}"></h5>
                        </div>
                        <div class="form-group">
                            <label for="eventLabelInput-edit">Event Label</label>
                            <input type="text" id="eventLabelInput-edit" class="form-control m-1"/>
                        </div>
                        <div class="form-group">
                            <label for="eventStartHourInput-edit">Event Start Hour</label>
                            <input type="number" id="eventStartHourInput-edit" min="0" max="24" step="1"/>
                            <input type="number" id="eventStartMinuteInput-edit" min="0" max="60" step="1"/>
                        </div>
                        <div class="form-group">
                            <label for="eventEndHourInput-edit">Event End Hour</label>
                            <input type="number" id="eventEndHourInput-edit" min="0" max="24" step="1"/>
                            <input type="number" id="eventEndMinuteInput-edit" min="0" max="60" step="1"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div id="eventChangedMessage" class="alert"></div>
                <button id="saveEventEditModalButton" class="btn btn-calendars-primary" type="button">Save</button>
                <button id="deleteEventEditModalButton" class="btn btn-calendars-primary" type="button">Delete</button>
                <button type="button" class="btn btn-calendars-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

