<div xmlns:th="https://www.thymeleaf.org" th:fragment="remove-project-modal" id="removeProjectModal"
     class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <h3>Are you sure to remove <h3 th:text="${project}"></h3></h3>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div id="removeProjectModalMessage" class="alert"></div>
                <button id="removeProjectModalButton" class="btn btn-calendars-primary" type="button" th:attr="data-project=${project}">Remove</button>
                <button type="button" class="btn btn-calendars-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

