<div xmlns:th="https://www.thymeleaf.org" th:fragment="remove-room-modal" id="removeRoomModal"
     class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <h3>Are you sure to remove <h3 id="removingRoomName"></h3></h3>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div id="removeRoomModalMessage" class="alert"></div>
                <button id="removeRoomModalButton" class="btn btn-calendars-primary" type="button">Remove</button>
                <button type="button" class="btn btn-calendars-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

