@import "buttons";

body {
  background: $background-color;
}

.error-message {
  color: $error-color;
}

.success-message {
  color: $secondary-color;
}

.component-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.input-calendars {
  height: 55px;
}

.user-data-calendars {
  border: 2px solid $dark-color;
  border-radius: 4px;
  margin: 10px;
  font-size: 30px;

  .user-data-label {
    font-weight: bold;
  }
}

#header {
  background: $secondary-color;
}

.day-calendars {
  min-height: 130px;

  &-my-calendar {
    &:hover {
      cursor: pointer;
      background: rgba($dark-color, 0.1);
    }
  }

  &-rooms {
    &:hover {
      cursor: pointer;
      background: rgba($dark-color, 0.1);
    }
  }

}

.event-calendars {
  font-size: 12px;
  background: rgba($dark-color, 0.3);
  border: 1px solid $dark-color;
  border-radius: 2px;
  margin: 2px;
  padding: 2px;

  .event-label {
    color: black;
  }

  &-my-calendar {
    &:hover {
      cursor: pointer;
      background: rgba($dark-color, 0.5);
    }
  }

  &-room-event {
    background: rgba($primary-color, 0.3);

    &-my-calendar {
      &:hover {
        cursor: pointer;
        background: rgba($primary-color, 0.5);
      }
    }
  }
}

.rooms-clickable {
  background: rgba($dark-color, 0.3);
  &:hover {
    cursor: pointer;
    background: rgba($dark-color, 0.5);
  }
}