<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="/common/head :: headerContent">
    <meta charset="UTF-8">
    <title id="pageTitle">Calendars-UsersCalendar</title>
</head>
<body>
<div class="container-fluid">
    <div th:replace="/common/header :: header"></div>
    <div class="row justify-content-center">
        <div class="col col-md-6 form-group text-center">
            <h4 for="eventTypeSelect-new">Choose User</h4>
            <select id="userSelectUserCalendar" class="form-control input-calendars">
                <option value="undefined" text="-"></option>
                <option th:each="user : ${users}" th:value="${user.email}" th:selected="${user.email == selectedEmail}" th:text="${user.name} + '<' + ${user.email} + '>'"></option>
            </select>
        </div>
    </div>
    <div th:if="${calendarInfo != null}">
        <div th:replace="/common/calendar :: calendar(type='users-calendars')"></div>
    </div>
</div>
</body>
</html>